<br><br>
  <div class="erase">
      <nav class="navbar navbar-expand-lg navbar-black bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/taco"><button class="w3-button w3-ripple "><strong>TACO</strong></button></a>
          
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/burritos"><button class="w3-button w3-ripple "><strong>BURRITOS</strong></button></a>
          
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/quesdilla"><button class="w3-button w3-ripple "><strong>QUESADILLA</strong></button></a>
          
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/meals"><button class="w3-button w3-ripple "><strong>MEALS</strong></button></a>
          
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/snackbev"><button class="w3-button w3-ripple "><strong>APPETIZERS</strong></button></a>
          
          </div>
        </nav>
      </div>
  
      <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
        <img class="w3-image" src="./assets/imaget5.png" alt="Delicious Catering" width="1600" height="800">
        <div class="w3-display-bottomleft w3-padding-large w3-opacity">
          <h1 class="w3-xxlarge w3-grey">SNACKS & BEVERAGES</h1>
        </div>
      </header>
      <br>
      <br>
      
    <div class="container">
        <div class="row">
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/images1.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>MEXICAN FRIES</strong></p>
          <div style="color:green;font-size:15px;"><strong>VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="w3-card-4" style="width:100%">
          <img src="./assets/images2.png" alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p style="font-size:17px;"><strong>NACHOS & SALSA</strong></p>
            <div style="color:GREEN;font-size:15px;"><strong>VEG</strong></div><br>
            <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="w3-card-4" style="width:100%">
          <img src="./assets/images3.png" alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p style="font-size:17px;"><strong>LOADED NACHOS</strong></p>
            <div style="color:GREEN;font-size:15px;"><strong>VEG</strong></div><br>
            <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
          </div>
        </div>
       
      </div>
    
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/images4.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>LOADED NACHOS</strong></p>
          <div style="color:RED;font-size:15px;"><strong>NON-VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
    </div>
    </div></div><br>
    <div class="container">
        <div class="row">
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/images5.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>LOADED FRIES</strong></p>
          <div style="color:GREEN;font-size:15px;"><strong>VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
    </div>
    
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/images6.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>CHEESY NACHOS</strong></p>
          <div style="color:GREEN;font-size:15px;"><strong>VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
        </div>
    
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/images7.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>CRISPY CHICKEN STRIPS</strong></p>
          <div style="color:RED;font-size:15px;"><strong>NON-VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
    </div>
  
  <div class="col-md-3">
    <div class="w3-card-4" style="width:100%">
      <img src="./assets/images8.png" alt="Alps" style="width:100%">
      <div class="w3-container w3-center">
        <p style="font-size:17px;"><strong>CRISPY CHICKEN NACHOS</strong></p>
        <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
        <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
      </div>
    </div>
    
</div>
</div><br><br>
<div class="container">

<h2> BEVERAGES</h2>

<h5>CHOICE OF DRINKS:</h5>
<div class="row" style="font-size:18px;">
    <div class="col-md-4" >
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>PEPSI</span>
        <br>
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>7 Up</span><br>
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>HOME MADE ICE TEA</span><br>
    </div>
    <div class="col-md-4">
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>MIRINDA</span>
        <br>
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>MOUNTAIN DEW</span><br>
        
    </div>
</div></div>
<br><br>
<div class="container">
<h5>CHOICE OF SHAKES:</h5>
<div class="row" style="font-size:18px;">
    <div class="col-md-4" >
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>CHOCOLATE SHAKE</span>
        <br>
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>MANGO SHAKE</span><br>
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>COOKIE CRUMBLE SHAKE</span><br>
    </div>
    <div class="col-md-4">
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>CARAMEL SHAKE</span>
        <br>
        <button class="w3-button w3-circle w3-ripple w3-grey"><i class="fas fa-beer"></i></button>
        <span>STRAWBERRY SHAKE</span><br>
        
    </div>
</div>
</div>
<br><br>



