<br><br><br><br>
<div class="container">
  <h2 style="margin-left:480px;"><strong>MENU</strong></h2>
  <br>
</div>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="w3-container">
      
    
      <div class="w3-card-4" style="width:80%">
        <a routerLink="/taco">
        <img src="./assets/image18.png" alt="Alps" style="width:100%"></a>
        <div class="w3-container w3-center">
          <h3><a routerLink="/taco">TACO'S</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="w3-container">
      
    
      <div class="w3-card-4" style="width:80%">
        <a routerLink="/burritos">
        <img src="./assets/image19.png" alt="Alps" style="width:100%"></a>
        <div class="w3-container w3-center">
          <h3><a routerLink="/burritos">BURRITO'S</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="w3-container">
      
    
      <div class="w3-card-4" style="width:80%">
        <a routerLink="/quesdilla">
        <img src="./assets/image20.png" alt="Alps" style="width:100%"></a>
        <div class="w3-container w3-center">
          <h3><a routerLink="/quesdilla">QUESADILLA'S</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="w3-container">
      
    
      <div class="w3-card-4" style="width:80%">
        <a routerLink="/meals">
        <img src="./assets/image21.png" alt="Alps" style="width:100%"></a>
        <div class="w3-container w3-center">
          <h3><a routerLink="/meals">MEAL'S</a></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="w3-container">
      
    
      <div class="w3-card-4" style="width:80%">
        <a routerLink="/snackbev">
        <img src="./assets/image22.png" alt="Alps" style="width:100%"></a>
        <div class="w3-container w3-center">
          <h3><a routerLink="/snackbev">SNACK'S</a></h3>  
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="w3-container">
      
    
      <div class="w3-card-4" style="width:80%">
        <a routerLink="/snackbev">
        <img src="./assets/image23.png" alt="Alps" style="width:100%"></a>
        <div class="w3-container w3-center">
          <h3><a routerLink="/snackbev">BEVERAGE'S</a></h3>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>