<br><br>
  <div class="erase">
      <nav class="navbar navbar-expand-lg navbar-black bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/taco"><button class="w3-button w3-ripple "><strong>TACO</strong></button></a>
          
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/burritos"><button class="w3-button w3-ripple "><strong>BURRITOS</strong></button></a>
          
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/quesdilla"><button class="w3-button w3-ripple "><strong>QUESADILLA</strong></button></a>
          
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/meals"><button class="w3-button w3-ripple "><strong>MEALS</strong></button></a>
          
          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:100px;padding-top:10px;" routerLink="/snackbev"><button class="w3-button w3-ripple "><strong>APPETIZERS</strong></button></a>
          
          </div>
        </nav>
      </div>
      <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
        <img class="w3-image" src="./assets/imaget4.png" alt="Delicious Catering" width="1600" height="800">
        <div class="w3-display-bottomleft w3-padding-large w3-opacity">
          <h1 class="w3-xxlarge w3-grey">MEALS</h1>
        </div>
      </header>
      <br><br>
      <div class="container">
          <div class="row">
      <div class="col-md-3">
        <div class="w3-card-4" style="width:100%">
          <img src="./assets/image14.png" alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p style="font-size:17px;"><strong>TWO TACO MEAL</strong></p><br>
            <div style="color:green;font-size:15px;"><strong>VEG</strong></div><br><br>
            <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="w3-card-4" style="width:100%">
          <img src="./assets/image15.png" alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p style="font-size:17px;"><strong>TWO TACO MEAL</strong></p><br>
            <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
            <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
          </div>
        </div>
        
      </div>
      <div class="col-md-3">
        <div class="w3-card-4" style="width:100%">
          <img src="./assets/image16.png" alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p style="font-size:17px;"><strong>CHEESY DOUBLE DECKER TACO MEAL</strong></p>
            <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
            <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
          </div>
        </div>
        
          </div>
      
      <div class="col-md-3">
        <div class="w3-card-4" style="width:100%">
          <img src="./assets/image17.png" alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p style="font-size:17px;"><strong>CHEESY DOUBLE DECKER TACO MEAL</strong></p>
            <div style="color:green;font-size:15px;"><strong>VEG</strong></div><br>
            <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
          </div>
        </div>
        
      </div>
    </div>
        </div>
      <br><br>
    <div class="container">
        <div class="row">
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/image18.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>MILD NAKED CHICKEN TACO MEAL</strong></p>
          <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
    </div>
    <div class="col-md-3">
        <div class="w3-card-4" style="width:100%">
          <img src="./assets/imagem1.png" alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p style="font-size:17px;"><strong>MILD NAKED CHICKEN TACO MEAL FOR 2</strong></p>
            <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
            <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
          </div>
        </div>
        
      </div>
      <div class="col-md-3">
        <div class="w3-card-4" style="width:100%">
          <img src="./assets/imageb7.png" alt="Alps" style="width:100%">
          <div class="w3-container w3-center">
            <p style="font-size:17px;"><strong>7 LAYER BURRITO MEAL</strong></p><br>
            <div style="color:GREEN;font-size:15px;"><strong>VEG</strong></div><br>
            <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
          </div>
        </div>
        
      </div>
    
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/imageb8.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>7 LAYER BURRITO MEAL</strong></p><br>
          <div style="color:RED;font-size:15px;"><strong>NON-VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
    </div>
    </div></div><br><br>
    <div class="container">
        <div class="row">
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/imageb9.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>TIKKA MASALA BURRITO MEAL</strong></p>
          <div style="color:GREEN;font-size:15px;"><strong>VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
    </div>
    
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/imageb10.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>TIKKA MASALA BURRITO MEAL</strong></p>
          <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
        </div>
    
    <div class="col-md-3">
      <div class="w3-card-4" style="width:100%">
        <img src="./assets/imageb11.png" alt="Alps" style="width:100%">
        <div class="w3-container w3-center">
          <p style="font-size:17px;"><strong>THE BURRITO MEAL</strong></p><br>
          <div style="color:green;font-size:15px;"><strong>VEG</strong></div><br>
          <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
        </div>
      </div>
      
    </div>
  
  <div class="col-md-3">
    <div class="w3-card-4" style="width:100%">
      <img src="./assets/imageb12.png" alt="Alps" style="width:100%">
      <div class="w3-container w3-center">
        <p style="font-size:17px;"><strong>THE BURRITO MEAL</strong></p><br>
        <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
        <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
      </div>
    </div>
    
  </div>
</div>
</div><br><br>

<div class="container">
    <div class="row">
<div class="col-md-3">
  <div class="w3-card-4" style="width:100%">
    <img src="./assets/imagem2.png" alt="Alps" style="width:100%">
    <div class="w3-container w3-center">
      <p style="font-size:17px;"><strong>VEGSTAR MEAL FOR 1</strong></p>
      <div style="color:green;font-size:15px;"><strong>VEG</strong></div><br>
      <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
    </div>
  </div>
  
</div>
<div class="col-md-3">
    <div class="w3-card-4" style="width:100%">
      <img src="./assets/imagem3.png" alt="Alps" style="width:100%">
      <div class="w3-container w3-center">
        <p style="font-size:17px;"><strong>CHICKSTER MEAL FOR 1</strong></p>
        <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
        <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
      </div>
    </div>
    
  </div>
  <div class="col-md-3">
    <div class="w3-card-4" style="width:100%">
      <img src="./assets/imagem4.png" alt="Alps" style="width:100%">
      <div class="w3-container w3-center">
        <p style="font-size:17px;"><strong>CHALUPA MEAL</strong></p>
        <div style="color:GREEN;font-size:15px;"><strong>VEG</strong></div><br>
        <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
      </div>
    </div>
    
  </div>

<div class="col-md-3">
  <div class="w3-card-4" style="width:100%">
    <img src="./assets/imagem5.png" alt="Alps" style="width:100%">
    <div class="w3-container w3-center">
      <p style="font-size:17px;"><strong>CHALUPA MEAL</strong></p>
      <div style="color:RED;font-size:15px;"><strong>NON-VEG</strong></div><br>
      <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
    </div>
  </div>
 
</div>
</div></div><br><br>
<div class="container">
    <div class="row">
<div class="col-md-3">
  <div class="w3-card-4" style="width:100%">
    <img src="./assets/imagem6.png" alt="Alps" style="width:100%">
    <div class="w3-container w3-center">
      <p style="font-size:17px;"><strong>BELL RICE BOWL MEAL</strong></p>
      <div style="color:GREEN;font-size:15px;"><strong>VEG</strong></div><br>
      <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
    </div>
  </div>
  
</div>
<div class="col-md-3">
    <div class="w3-card-4" style="width:100%">
      <img src="./assets/imagem7.png" alt="Alps" style="width:100%">
      <div class="w3-container w3-center">
        <p style="font-size:17px;"><strong>BELL RICE BOWL MEAL</strong></p>
        <div style="color:red;font-size:15px;"><strong>NON-VEG</strong></div><br>
        <div><button class="w3-grey w3-padding 16px w3-round" style="margin-left:00px;">ORDER</button></div><br>
      </div>
    </div>
    
  </div></div></div><br><br>
