<div class="w3-top">
    <div class="w3-bar w3-grey w3-padding w3-card" style="letter-spacing:4px;">
      <a routerLink="/firstpage" class="w3-bar-item w3-button">DELICIOUS</a>
      
      <div class="w3-right w3-hide-small">
        <a routerLink="/about" class="w3-bar-item w3-button">About</a>
        <a routerLink="/menu" class="w3-bar-item w3-button">Menu</a>
        <a routerLink="/contact" class="w3-bar-item w3-button" >Contact</a>
        <a routerLink="" class="w3-bar-item w3-button"><i class="fas fa-user"></i>User</a>
        <a routerLink="/login" class="w3-bar-item w3-button">Login</a>
        
        
      </div>
    </div>
  </div>
<router-outlet></router-outlet>


