<br><br>
<div class="erase">
  <nav class="navbar navbar-expand-lg navbar-black bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" style="color:White; font-size: 25px; margin-left:500px;padding-top:10px;"><strong>welcome back MR.karthik</strong></a>
      </div>
    </nav></div>
    <app-firstpage></app-firstpage>